* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colour_lightOrange: #ff4d30;
  --colour_darkOrange: #ff3617;
  --colour_mintGreen: #5cae7c;
  --colour_Grey: #706F7B;

  --colour_DefaultBlack: #000;
  --colour_DefaultWhite: #fff;
}
