* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colour_lightOrange: #FD492C;
  --colour_darkOrange: #ff3617;
  --colour_mintGreen: #5cae7c;
  --colour_Grey: #706f7b;

  --colour_DefaultBlack: #000;
  --colour_DefaultWhite: #fff;

  --font_poppins: Poppins;
  --font_rubik: Rubik;
}

h1,
h2,
h3,
h4,
a {
  font-family: var(--font_rubik);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}